doctype html
html

extends layout

block content

     h1 Unixcorn
     | Team Unixcorn is awesome!
     h2 Angelica
     | Team Leader and Unixcorn made out of Tiny Marshmallow Demons
     || Contact me at: aleyvamcmurtry@mills.edu
     h2 Natasha
     | Back-end Magician and Unixcorn made out of Unity
     || Contact me at: nculbreth@mills.edu
     h2 Karena
     | Front-end Artist and Unixcorn made out of Awesome Hair
     || Contact me at: khuang@mills.edu
     h2 Madison
     | Problem Solver and Unixcorn made out of Stars
     || Contact me at: mahamilton@mills.edu



