doctype html
html

extends layout

block content

     h1 Unixcorn
     p Team Unixcorn is awesome!
     h2 Angelica
          p Team Leader and Unixcorn made out of Tiny Marshmallow Demons
          p Contact me at: aleyvamcmurtry@mills.edu
     h2 Natasha
          p Back-end Magician and Unixcorn made out of Unity
          p Contact me at: nculbreth@mills.edu
     h2 Karena
          p Front-end Artist and Unixcorn made out of Awesome Hair
          p Contact me at: khuang@mills.edu
     h2 Madison
          p Problem Solver and Unixcorn made out of Stars
          p Contact me at: mahamilton@mills.edu



