doctype html
html

extends layout

block content

     h2 Login to See previous Activities
     h2 Or Sign Up to save Activities
     nav
          ul
            li
              a(href='/events/login') Login
            li
              a(href='/events/signup') Sign Up