doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(href='/html5up-dimension/assets/css/main.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    //link(href='../html5up-dimension/assets/css/noscript.css', rel='stylesheet')
    //link(href='../html5up-dimension/assets/css/font-awesome.min.css', rel='stylesheet')
    //link(href='../html5up-dimension/assets/css/ie9.css', rel='stylesheet')
  body
    block content
    
    script(src='/html5up-dimension/assets/js/jquery.min.js')
    script(src='/html5up-dimension/assets/js/main.js')
    script(src='/html5up-dimension/assets/js/util.js')
    script(src='/html5up-dimension/assets/js/skel.min.js')
         