doctype html
html

extends layout

block content

     h1 Login Here Coming Soon
     //creat user name
     //password
     
     form
          | Create username:
          br
          input(type='text', name='username')
          br
          | Create password:
          br
          input(type='text', name='password')
          br
          input(type='button', value='Login')
