doctype html
html

extends layout

block content

      doctype html
      html
        head
            p Input your price range below
              label.radio-inline
              input(type='radio', name='optradio', id='opr1')
              | Cheap: $15 and under 
              label.radio-inline
              input(type='radio', name='optradio', id='opr2')
              | Less Cheap: $16-30
              label.radio-inline
              input(type='radio', name='optradio', id='opr3')
              | Expensive: $30+
            nav
              p Distance you're able to travel
               label.radio-inline
              input(type='radio', name='optradio2', id='disopr1')
              | Walking Distance: under a mile  
              label.radio-inline
              input(type='radio', name='optradio2', , id='disopr2')
              | A Short Drive: under 25 miles 
              label.radio-inline
              input(type='radio', name='optradio2', , id='disopr3')
              | Road Trip: 25+ miles 
            nav
              p Minimum Length of Activity
          
                input(type='text', name='minimum', id= 'min')
                 
         
              p Maximum Length of Activity
              
                input(type='text', name='maximum', id= 'max')
                 
            nav 
              p Time Activity Begins
              
                input(type='text', name='begin', id= 'begin')
                

              
              p Time Activity Ends by
              
                input(type='text', name='end', id= 'end')
            nav
                .dropdown
                button.dropbtn(onclick='myFunction()', id='beginTime') Travel By:
                #myDropdown.dropdown-content
                    a(href='#') Walking
                    a(href='#') Bus
                    a(href='#') Car
                    a(href='#') Bike
          style.
            /* The Modal (background) */
            .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }
            /* Modal Content */
            .modal-content {
            background-color: #000000;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            }
            /* The Close Button */
            .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            }
            .close:hover,
            .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            }
        body
          h2 Results
          // Trigger/Open The Modal
          button#myBtn Check Your Results
          // The Modal
          #myModal.modal
            // Modal content
            .modal-content
              span.close ×
              // p.pie 
              // p#pie 
              #test1  
         script.
            // Get the modal
            var modal = document.getElementById('myModal');
            var test12 = document.getElementById("test1");
            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
           
            // When the user clicks the button, open the modal
            btn.onclick = function() {
            modal.style.display = "block";
              if(document.getElementById("opr1").checked){
                  if(document.getElementById("disopr1").checked){
                    test12.innerHTML = "Looking for cheap activities in a short walk";
                  }else if(document.getElementById("disopr2").checked){
                     test12.innerHTML = "Looking for cheap activities in a short drive";
                  }else{
                     test12.innerHTML = "Looking for cheap activities in a long drive";
                  }
                }else if (document.getElementById("opr2").checked){
                     if(document.getElementById("disopr1").checked){
                         test12.innerHTML = "Looking for resonable priced activities in a short walk";
                      }else if(document.getElementById("disopr2").checked){
                         test12.innerHTML = "Looking for resonable priced activities in a short drive";
                      }else{
                         test12.innerHTML = "Looking for resonable priced activities in a long drive";
                    }
                }else{
                  if(document.getElementById("disopr1").checked){
                         test12.innerHTML = "Looking for expensive activities in a short walk";
                      }else if(document.getElementById("disopr2").checked){
                         test12.innerHTML = "Looking for expensive activities in a short drive";
                      }else{
                         test12.innerHTML = "Looking for expensive activities in a long drive";
                    }
                }
            }
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
              function myFunction() {
                  document.getElementById("myDropdown").classList.toggle("show");
              }
              
              // Close the dropdown menu if the user clicks outside of it
              window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {
              
                  var dropdowns = document.getElementsByClassName("dropdown-content");
                  var i;
                  for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                      openDropdown.classList.remove('show');
                    }
                  }
                }
              }
  // script(language='JavaScript' src='/public/javascripts/results.js')
  // script(language='JavaScript'  src='/public/bootstrap/js/results.js')