doctype html
html

extends layout

block content

        h1 Sign Up Here Coming Soon
        //email
        //username
        //password
        //re-enter password
        //pray to unixcorn god - correction, pray to Neo, Hacker Jesus
        form
            | Email:
            br
            input(type='text', name='email')
            | Username:
            br
            input(type='text', name='username')
            | Password:
            br
            input(type='text', name='password')
            br
            |   Re-enter password:
            br
            input(type='text', name='password2')
            br
            input(type='button', value='Submit')

        